/* Custom styles for the carousel */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #4B5563;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #4B5563;
}

.slick-dots li.slick-active button:before {
  color: #111827;
} 